.footer-container {
  background-color: #1e2545;
  color: #fff;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  font-family: "Arial", sans-serif;
}

.footer-section {
  flex: 1;
  margin: 20px;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.subscribe-section input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 1rem;
}

.subscribe-section button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #1e2545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.subscribe-section button:hover {
  background-color: #e5e5e5;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: #ffffff;
  font-size: 1.5rem;
  margin-right: 15px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #e5e5e5;
}
